{{nav-header title='时租房・列表' path='hotels.search'}}

<section  id="hotel_collection">

  <div class="row choose_box">
    <div class="col-xs-6 filter_box">
      <a id="sort-modal-link" class="select-modal-show" href="#sortModal" data-toggle="modal">
        {{#if searchOption.filter}}
          {{sortText}}
        {{else}}
          排序
        {{/if}}
      </a>
      <div class="select-down">
        <img src='assets/images/enter-right-click.png' class="down_icon">
      </div>
    </div>

    <div class="col-xs-6 brand_box">
      <a id="brand-modal-link" class="select-modal-show" href="#brandModal" data-toggle="modal">
        {{#if searchOption.brand}}
          {{brandText}}
        {{else}}
          品牌
        {{/if}}
      </a>
      <div class="select-down">
        <img src='assets/images/enter-right-click.png' class="down_icon">
      </div>
    </div>
  </div>
  {{#pull-scroll-wrapper paging="loadPaging" model=model}}
    {{#each model as |hotel|}}
      <li>
        {{#if hotel.enable}}
          {{#link-to 'hotels.show' hotel.id class='hotel_item'}}
            {{hotel-item hotel=hotel}}
          {{/link-to}}
        {{else}}
          <a class='hotel_item full-house' href="javascript:void(0)">
            {{hotel-item hotel=hotel}}
          </a>
        {{/if}}
      </li>
    {{/each}}
  {{/pull-scroll-wrapper}}
</section>

{{#select-modal elementId="sortModal" title="排序选择" bindText=sortText
  bindValue=searchOption.filter apply="loadOption" as |selectItem|}}
  {{#each sorts as |sort|}}
    {{#select-modal-item text=sort.text value=sort.value action=selectItem}}
      {{sort.text}}
    {{/select-modal-item}}
  {{/each}}
{{/select-modal}}

{{#select-modal elementId="brandModal" title="品牌选择" bindText=brandText
  bindValue=searchOption.brand apply="loadOption" as |selectItem|}}
  {{#each brands as |brand|}}
    {{#select-modal-item text=brand.text value=brand.value action=selectItem}}
      {{brand.text}}
    {{/select-modal-item}}
  {{/each}}
{{/select-modal}}
