{{outlet}}
{{nav-header title='时租房・酒店详情' path='hotels.list'}}

<div class="row">
  <div class="hotel-detail">
    <div class="hotel-img">
      <img src="{{hotel-img model.hotel.photos}}">
    </div>
    <div class="hotel-info">
      <ul>
        <li id="hotel_detail">
          {{#link-to 'hotels.detail' model.hotel.id}}
            <div class="row">
              <div class="col-xs-11">
                {{service-icons serviceStr=model.hotel.service}}
              </div>
              <div class="pull-right">
                <img src="assets/images/enter-right-click.png" height="12" width="12">
              </div>
            </div>
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'hotels.map' model.hotel.id}}
            <div class="row">
              <div class="col-xs-10">
                {{hotel-8-word-address model.hotel.address}}
              </div>
              <div class="pull-right">
                <img src="assets/images/enter-right-click.png" height="12" width="12">
              </div>
            </div>
          {{/link-to}}
        </li>

        <li>
          <a href="tel:{{model.hotel.tel}}">
            <div class="row">
              <div class="col-xs-10">
                {{model.hotel.tel}}
              </div>
              <div class="pull-right">
                <img src="assets/images/enter-right-click.png" height="12" width="12">
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
    <div class="detail-select-date">
      入住：{{date-today ""}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00-18:00
    </div>
</div>

<div class="row">
  <ul id="room_detail">
    {{#each model.room.room_types as |item|}}
      {{room-item room=item hotel_code=model.hotel.id}}
    {{/each}}
  </ul>
</div>
